<a id="FAQ"></a>
<section class="advantages-block">
    <div class="advantages-block__container main-width">
        <div class="advantages-block__content">
             <div class="advantages-block__title">
                <h3>Why Choose Us</h3>
                <h2>Creating Memories <br>You’ll Want Revisit</h2>
             </div>
             <div class="advantages-block__list">
                <div class="advantages-block__item">
                    <a class="advantages-block__item-title">
                        <img src="images/advantages-icon-1.webp">
                        Search and Booking Functionality
                    </a>
                    <div class="advantages-block__item-text">
                       Yes, including testimonials or recommendations from past clients or 
                        employers can help build trust and credibility with potential clients or 
                        employers.
                        </div>
                </div>
                 <div class="advantages-block__item">
                    <a class="advantages-block__item-title">
                        <img src="images/advantages-icon-2.webp">
                        Destination Guides and Reviews
                    </a>
                </div>
                 <div class="advantages-block__item">
                    <a class="advantages-block__item-title">
                        <img src="images/advantages-icon-3.webp">
                        Hotel Comparison and Booking
                    </a>
                </div>
             </div>
        </div>
        <div class="advantages-block__image">
            <img src="images/advantages-img.webp" alt="Advantages">
        </div>
    </div>
</section>