<footer>
    <div class="footer main-width">
        <div class="footer__block">
            <div class="footer__logo">
                <img src="images/logo-footer.webp">
            </div>
        </div>
         <div class="footer__block footer__block--middle">
            <div class="footer__nav">
                <div class="footer__title">Short Links</div>
                <ul class="footer__list">
                    <li><a href="#about">About Us</a></li>
                    <li><a href="">Team Members</a></li>
                    <li><a href="#booking">Tour Plans</a></li>
                    <li><a href="#pricing">Pricing Plan</a></li>
                </ul>
            </div>
            <div class="footer__nav">
                <div class="footer__title">Quick Links</div>
                <ul class="footer__list">
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">Destination</a></li>
                    <li><a href="#blog">Blogs</a></li>
                    <li><a href="#FAQ">FAQ Questions</a></li>
                </ul>
            </div>
         </div>
          <div class="footer__block">
             <div class="footer__title">Instagram Post</div>
             <div class="footer__images">
                <div class="footer__image" style="background-image: url(images/footer-img-1.webp);"></div>
                <div class="footer__image" style="background-image: url(images/footer-img-2.webp);"></div>
                <div class="footer__image" style="background-image: url(images/footer-img-3.webp);"></div>
                <div class="footer__image" style="background-image: url(images/footer-img-4.webp);"></div>
                <div class="footer__image" style="background-image: url(images/footer-img-5.webp);"></div>
                <div class="footer__image" style="background-image: url(images/footer-img-6.webp);"></div>
            </div>
          </div>
       
    </div>
    <div class="copyright">
        © 2025 1xTravel. All rights reserved. Smart 
travel solutions for sports fans around the world.
    </div>
</footer>