<a id="about"></a>
<section class="infographic-block">
    <div class="infographic-block__container main-width">
        <div class="infographic-block__content">
            <div class="infographic-block__digits">
                <div class="digits">
                    <div class="digits__item">
                        <div class="digits__icon">
                           <img src="images/digits-icon-1.webp">
                        </div>
                        <div class="digits__content">
                            <div>239</div>
                            <span>Tours Packs</span>
                        </div>
                    </div>
                    <div class="digits__item">
                        <div class="digits__icon"><img src="images/digits-icon-2.webp"></div>
                        <div class="digits__content">
                            <div>320</div>
                            <span>Tour Destination</span>
                        </div>
                    </div>
                    <div class="digits__item">
                        <div class="digits__icon"><img src="images/digits-icon-3.webp"></div>
                        <div class="digits__content">
                            <div>400</div>
                            <span>Travel Guides</span>
                        </div>
                    </div>
                    <div class="digits__item">
                        <div class="digits__icon"><img src="images/digits-icon-4.webp"></div>
                        <div class="digits__content">
                            <div>23</div>
                            <span>Premium Resorts</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="infographic-block__image">
                <img src="images/infographic-img.webp">
            </div>
            <div class="infographic-block__about-us">
                <div class="about">
                <h3>
                        About Us
                </h3> 
                <h2>
                    Discover The <br>Beauty of Nature
                </h2> 
                <div class="about__conditions">
                   <div class="about__item">
                        <img src="images/about-icon-1.webp">
                        No Booking Fee Rate Guarantee
                   </div>
                   <div class="about__item">
                        <img src="images/about-icon-2.webp">
                        24/7 Emergency Helpline
                   </div>
                </div>
                <div class="about__text">
                    Travor is one of the most popular Travel agency for those who want to 
                    explore the wold and try to make adventure
                </div>
                <a href="" class="btn btn--1">Get In Touch</a>
               </div>
            </div>
        </div>
    </div>
</section>