<div class="popup-wrapper">
    <div class="popup">
        <div class="popup__image">
            <img src="images/popup-img.webp">
        </div>
        <div class="popup__content">
            <div class="popup__title" data-i18n="popup.title">EXCLUSIVE WELCOME OFFER!</div>
            <div class="popup__label" data-i18n="popup.label">GET 100% BONUS UP TO $100</div>
            <div class="popup__text" data-i18n="popup.text">Limited time offer for new users! Don't miss out on this amazing deal.</div>
        </div>
        <a class="popup__btn btn" data-i18n="popup.btn">CLAIM MY BONUS NOW</a>
    </div>
</div>