<section class="subscribe-block">
    <div class="subscribe-block__container main-width">
        <div class="subscribe-block__content">
            <div class="subscribe-block__title">
                <h3>Subscribe Newsletter</h3>
                <h2>Get The Latest Updates <br>Into Your Inbox</h2>
            </div>
            <form class="subscribe-block__form" action="">
                <div>
                    <input type="email" class="subscribe-block__input" placeholder="Enter your email address" required>
                    <button type="submit" class="subscribe-block__btn btn">Subscribe</button>
                </div>
                <div>
                    <input type="checkbox" class="subscribe-block__checkbox" id="subscribe-checkbox" required>
                    <label for="subscribe-checkbox" class="subscribe-block__label">By signing up you agree to our <a href="">Privacy Policy</a> </label>
                </div>
            </form>
        </div>
    </div>
</section>