<header>
    <div class="header main-width">
        <div class="header__logo" data-118n="header.logo">Local Café</div>
        <div class="header__label">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <g clip-path="url(#clip0_500_37678)">
                    <path d="M8.00016 14.6666C11.6821 14.6666 14.6668 11.6818 14.6668 7.99992C14.6668 4.31802 11.6821 1.33325 8.00016 1.33325C4.31826 1.33325 1.3335 4.31802 1.3335 7.99992C1.3335 11.6818 4.31826 14.6666 8.00016 14.6666Z" stroke="#009966" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6 8.00008L7.33333 9.33341L10 6.66675" stroke="#009966" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                    <clipPath id="clip0_500_37678">
                    <rect width="16" height="16" fill="white"/>
                    </clipPath>
                </defs>
            </svg>
            <span data-118n="header.label">Free Wi-Fi Connected</span>
        </div>
            <div class="lang-switcher">
                <button class="lang-switcher__btn lang-switcher__btn--en lang-switcher__btn--active">EN</button>
                <button class="lang-switcher__btn lang-switcher__btn--ar">العربية</button>
            </div>
        </div>
</header>
<section class="banner">
    <div class="banner__content main-width">
        <div class="banner__logo">
            <img src="images/logo.webp" alt="Logo">
            <span class="banner__label" data-i18n="banner.label">Sponsored</span>
        </div>
        <h1 class="banner__title" data-i18n="banner.title">EXCLUSIVE VIP PROGRAM</h1>
        <div class="banner__text" data-i18n="banner.text">Personal manager • Higher limits • Special bonuses
for VIP members</div>
        <div class="banner__controls">
            <a class="banner__btn banner__btn--1">
                <span data-i18n="banner.btn1">Join VIP Club</span>
            </a>
            <a class="banner__btn banner__btn--2">
                <span data-i18n="banner.btn2">Learn More</span>
            </a>
        </div>
        <div class="banner__infographics">
            <div class="banner__infographics-item">
                <div class="banner__infographics-icon"><img src="images/infographic-icon-1.webp"></div>
                <div class="banner__infographics-text" data-i18n="banner.infographics.text1">SSL Encryption</div>
            </div>
            <div class="banner__infographics-item">
                <div class="banner__infographics-icon"><img src="images/infographic-icon-2.webp"></div>
                <div class="banner__infographics-text" data-i18n="banner.infographics.text2">Licensed & Regulated</div>
            </div>
            <div class="banner__infographics-item">
                <div class="banner__infographics-icon"><img src="images/infographic-icon-3.webp"></div>
                <div class="banner__infographics-text" data-i18n="banner.infographics.text3">Fast Payouts</div>
            </div>
        </div>
    </div>
    <div class="banner__image">
        <img src="images/banner.webp" alt="Banner Image">
    </div>
</section>
<section class="cafe">
    <div class="cafe__content main-width">
        <div class="cafe__banner">
            <div class="cafe__banner-title" data-i18n="cafe.banner.title">Your local place for fresh coffee and daily essentials</div>
            <div class="cafe__banner-text" data-i18n="cafe.banner.text">Welcome! Enjoy free Wi-Fi and explore our selection.</div>
            <a href="" class="btn cafe__banner-btn"><span data-i18n="cafe.banner.btn">Explore</span></a>
        </div>
    </div>
    <div class="cafe__content main-width">
        <div class="cafe__title">
            <h2 data-i18n="cafe.title">Fresh Daily</h2>
            <span data-i18n="cafe.text">Quality products for every taste</span> 
        </div>
        <div class="cafe__list">
            <div class="cafe__item cafe__item--1">
                <img src="images/cafe-img-1.webp">
            </div>
             <div class="cafe__item cafe__item--2">
<img src="images/cafe-img-2.webp">
            </div>
             <div class="cafe__item cafe__item--3">
<img src="images/cafe-img-3.webp">
            </div>
             <div class="cafe__item cafe__item--4">
<img src="images/cafe-img-4.webp">
            </div>
             <div class="cafe__item cafe__item--5">
<img src="images/cafe-img-5.webp">
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="footer main-width">
        <div class="footer__logo" data-i18n="footer.logo">Local  Café</div>
        <div class="footer__text" data-i18n="footer.text">Enjoy your free Wi-Fi connection and explore our selection.</div>
    </div>
</footer>