<a id="booking"></a>
<section class="tours-block">
    <div class="tours-block__container main-width">
        <div class="tours-block__title">
            <h3>Featured Tour</h3>
            <h2>Most Popular Tours</h2>
        </div>
        <div class="tours-block__list">
            <div class="tours-block__item tour">
                <div class="tour__image" style="background-image: url(images/tour-img-1.webp);"></div>
                <div class="tour__content">
                    <div class="tour__rating">
                        <span>4.8 Overall Reviews</span> (30 Reviews)
                    </div>
                    <div class="tour__title">
Japan's Golden Route: 10-Day 
Cultural Journey
                    </div>
                    <div class="tour__controls">
                        <div class="tour__price">
                            <span>$550</span>/Person
                        </div>
                        <a href="" class="btn btn--1">Book Now</a>
                    </div>
                </div>
            </div>
             <div class="tours-block__item tour">
                <div class="tour__image" style="background-image: url(images/tour-img-2.webp);"></div>
                <div class="tour__content">
                    <div class="tour__rating">
                        <span>4.8 Overall Reviews</span> (30 Reviews)
                    </div>
                    <div class="tour__title">
London in 5 Days: Royal Highlights 
Tour
                    </div>
                    <div class="tour__controls">
                        <div class="tour__price">
                            <span>$213</span>/Person
                        </div>
                        <a href="" class="btn btn--1">Book Now</a>
                    </div>
                </div>
            </div>
             <div class="tours-block__item tour">
                <div class="tour__image" style="background-image: url(images/tour-img-3.webp);"></div>
                <div class="tour__content">
                    <div class="tour__rating">
                        <span>4.8 Overall Reviews</span> (30 Reviews)
                    </div>
                    <div class="tour__title">
Peru in 7 Days: Machu Picchu and 
Sacred Valley
                    </div>
                    <div class="tour__controls">
                        <div class="tour__price">
                            <span>$364</span>/Person
                        </div>
                        <a href="" class="btn btn--1">Book Now</a>
                    </div>
                </div>
            </div>
             <div class="tours-block__item tour">
                <div class="tour__image" style="background-image: url(images/tour-img-4.webp);"></div>
                <div class="tour__content">
                    <div class="tour__rating">
                        <span>4.8 Overall Reviews</span> (30 Reviews)
                    </div>
                    <div class="tour__title">
Italy in 12 Days: Art, Cuisine, and 
Coastlines
                    </div>
                    <div class="tour__controls">
                        <div class="tour__price">
                            <span>$567</span>/Person
                        </div>
                        <a href="" class="btn btn--1">Book Now</a>
                    </div>
                </div>
            </div>
             <div class="tours-block__item tour">
                <div class="tour__image" style="background-image: url(images/tour-img-5.webp);"></div>
                <div class="tour__content">
                    <div class="tour__rating">
                        <span>4.8 Overall Reviews</span> (30 Reviews)
                    </div>
                    <div class="tour__title">
Vietnam in 8 Days: A Culinary and 
Historical Voyage
                    </div>
                    <div class="tour__controls">
                        <div class="tour__price">
                            <span>$355</span>/Person
                        </div>
                        <a href="" class="btn btn--1">Book Now</a>
                    </div>
                </div>
            </div>
             <div class="tours-block__item tour">
                <div class="tour__image" style="background-image: url(images/tour-img-6.webp);"></div>
                <div class="tour__content">
                    <div class="tour__rating">
                        <span>4.8 Overall Reviews</span> (30 Reviews)
                    </div>
                    <div class="tour__title">
Nepal in 6 Days: Kathmandu and 
Himalayas
                    </div>
                    <div class="tour__controls">
                        <div class="tour__price">
                            <span>$903</span>/Person
                        </div>
                        <a href="" class="btn btn--1">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="" class="tours-block__btn btn btn--1">More Listings</a>
    </div>
</section>