.destinations-block {
    padding-top: 180px;
    padding-bottom: 80px;


    &__container {
        display: flex;
        flex-direction: column;
        gap: 65px;
        position: relative;
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list {
          display: flex;
          align-items: center;
          gap: 25px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        padding: 25px;
        border-radius: 15px;
        background: #FFF;
        border: 1px solid #E6E6E8;
        width: calc((100% - 50px) / 3);
    }

    &__tags {
        display: flex;
        gap: 5px;
        margin-bottom: 15px;
    }

    &__tag {
        padding: 5px 10px;
        border-radius: 5px;
        background: #F6F6F6;
        color: #666;
        font-weight: 600;
    }

    &__image {
        aspect-ratio: 365 / 200;
        border-radius: 15px;
        background-size: cover;
        margin-bottom: 25px;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 30px;
        color: #666;
        margin-bottom: 10px;
    }

    &__title {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    &__link {
        font-size: 18px;
        font-weight: 600;

        &:hover {
            color: #00A1FF;
        }
    }
}