.infographic-block {
    padding-top: 180px;

    &__content {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }

    &__digits {
        min-width: 270px;

        .digits {
            display: flex;
            flex-direction: column;
            gap: 30px;
            z-index: 1;
            position: relative;

            &__item {
                display: flex;
                align-items: center;
                gap: 20px;
                padding: 20px;
                border-radius: 10px;
                border: 1px solid #E6E6E8;
                background: #FFF;

                div {
                    font-size: 28px;
                    font-weight: 600;
                }

                span {
                    color: #666;
                    font-size: 16px;
                    font-weight: 400;
                }
            }

            &__icon {
                width: 55px;
                height: 55px;
            }
        }
    }

    &__image {
        margin-left: -50px;
        z-index: 0;
    }

    &__about-us {
        max-width: 530px;

        .about {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 25px;
            padding: 30px 0;
            height: 100%;

            &__conditions {
                display: flex;
                align-items: center;
                gap: 15px;
            }

            &__item {
                flex: 1;
                display: flex;
                align-items: center;
                gap: 24px;
                padding: 23px;
                border-radius: 10px;
                background: #E0F4FF;
                box-shadow: 0 4px 56px -16px rgba(8, 0, 30, 0.10);
                font-size: 18px;
                font-weight: 600;
                line-height: 23.4px;

                img {
                    width: 40px;
                    height: 40px;
                }
            }

            &__text {
                color: #666;
                font-size: 16px;
            }

            .btn {
                margin-top: auto;
            }
        }
    }
}

