.locations-block {
    padding-top: 180px;
    padding-bottom: 80px;


    &__container {
        display: flex;
        flex-direction: column;
        gap: 65px;
        position: relative;
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list {
           overflow: visible;
            width: 100%;

		.swiper-wrapper {
			align-items: stretch;
		}
	}

	&__item {
		flex: 0 0 400px;
		width: 400px;
        display: flex;
        align-items: flex-end;
        aspect-ratio: 400 / 520;
        border-radius: 25px;
        padding: 30px;
        background-size: cover;

        &-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 25px;
            border-radius: 15px;
            background: #FFF;
            box-shadow: 0 4px 56px -16px rgba(8, 0, 30, 0.10);
            width: 100%;
        }

        &-info {
            display: flex;
            flex-direction: column;
            gap: 6px;
            color: #666;

            div {
                color: #0A0322;
                font-size: 24px;
                font-weight: 700;
            }
        }

        &-btn {
            width: 48px;
            height: 48px;
            border-radius: 10px;
            background: #00A1FF;
            box-shadow: 0 28px 44px -8px rgba(255, 99, 33, 0.50);
        }
	}

    &__navigation {
        display: flex;
    }

    &__nav {
        display: flex;
        position: relative;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        background: url(images/arrow.webp);
        background-size: contain;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        left: auto;
        right: auto;
        border: none;
        outline: none;
        margin-top: auto;

        svg {
            display: none;
        }

        &.locations-block__next {
            transform: rotate(180deg);
            margin-left: 20px;
        }
    }

    &__btn {
        height: 60px;
        padding: 0 30px;
        align-self: flex-start;
    }
}

