.reviews-block {
    padding-top: 180px;
    padding-bottom: 80px;
    background: #E0F4FF;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 65px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: calc(100% / 2 - 20px);
        border-radius: 15px;
        background: #FFF;
        box-shadow: 0 4px 20px -16px #666;
        padding: 30px;

        &-author {
            display: flex;
            align-items: center;
            gap: 25px;
        }

        &-info {
            display: flex;
            flex-direction: column;
            gap: 6px;
        }
 
        &-name {
            font-size: 24px;
            font-weight: 600;
        }

        &-role {
            color: #666;
            font-size: 18px;
        }

        &-text {
            display: flex;
            align-items: flex-end;
            gap: 40px;
            font-size: 16px;
            line-height: 24px;
            color: #0A0322;

            img {
                width: 50px;
                height: 40px;
            }

            p {
                color: #666;
                font-size: 20px;
                margin: 0;
            }
        }
    }
}