.services-block {
    background: #0A0322;
    padding-top: 180px;
    padding-bottom: 80px;

        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 65px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-align: center;

        h2 {
            color: #FFF;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }

    &__item {
        width: calc((100% - 80px) / 3);

        &-image {
            aspect-ratio: 403 / 393;
            background-size: cover;
            border-radius: 15px;
        }

        &-icon {
            width: 60px;
            height: 60px;
        }

        &-content {
            display: flex;
            flex-direction: column;
            padding: 30px;
            width: 80%;
            margin:-90px auto 0px;
            border-radius: 15px;
            background: #0A0322;
            box-shadow: 0 4px 56px -16px rgba(0, 0, 0, 0.25);
            position: relative;
        }

        &-title {
            color: #FFF;
            font-size: 28px;
            font-weight: 600;
            margin: 40px 0 10px;
            position: relative;
            z-index: 1;
        }

        &-text {
            color: #BDB9CD;
            position: relative;
            z-index: 1;
        }

        &-number {
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgba(255, 255, 255, 0.08);
            font-size: 200px;
            font-weight: 700;
            line-height: 200px;
            position: absolute;
            bottom: 50%;
            right: 0;
            transform: translateY(50%);
            z-index: 0;
        }
    }
}
