.subscribe-block {
     padding-top: 180px;
    padding-bottom: 80px;
    background: #0A0322;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 65px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        max-width: 630px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-align: center;

        h2 {
            color: #FFF;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;

        >div {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            width: 100%;
        }
 
    }

    &__input {
            flex: 1;
            height: 65px;
            padding: 0 60px;
            border-radius: 12px;
            background: #FFF;
            box-shadow: 0 8px 64px -6px rgba(12, 24, 40, 0.08);
            border: none;
            font-size: 16px;
            font-weight: 400;
            line-height: 20.8px;

            &::placeholder {
                color: #666;
            }
        }

        &__btn {
            height: 65px;
            font-size: 16px;
            font-weight: 600;
            line-height: 20.8px;
            border-radius: 40px;
            padding: 0 30px;
            background: #00A1FF;
            color: #FFF;
            border: none;
            border-radius: 12px;

            &:hover {
                background: #008CE0;
            }
        }

        &__label {
            color: #666;

            a {
                color: #00A1FF;
             }
        }
}