.tours-block {
    padding-top: 110px;
    padding-bottom: 80px;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 65px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
    }

    &__item {
        width: calc((100% - 50px) / 3);
    }

    .tour {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 10px;
        border-radius: 15px;
        background: #FFF;
        box-shadow: 0 24px 20px -8px rgba(10, 3, 34, 0.10);

        &__image {
            aspect-ratio: 396 / 270;
            background-size: cover;
        }

        &__content {
            display: flex;
            padding: 10px;
            flex-direction: column;
            justify-content: center;
        }

        &__rating {
            margin-bottom: 10px;
            
             span {
                color: #666;
            }
        }

        &__title {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 25px;
        }

        &__controls {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 25px;
            border-top: 1px solid rgba(10, 3, 34, 0.10);
        }

        &__price {
            color: #666;
            font-size: 14px;

            span {
               color: #00A1FF;
                font-size: 28px;
                font-weight: 600; 
            }
        }
    }

    &__btn {
        height: 60px;
        padding: 0 30px;
    }
}