.form__wrapper {
    color: #79716B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    background: url(images/bg.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
}

.form {
  display: flex;
  width: 440px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  background: rgba(250, 250, 249, 0.95);
  box-shadow: 0 25px 50px -12px rgba(28, 25, 23, 0.20);

  &__header {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }

  &__title {
    color: #292524;
    font-family: "IBM Plex Serif";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 120% */
    letter-spacing: -0.75px;
  }

  &__text {
    font-size: 14px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
  }

  &__field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;

    label {
      padding: 0 16px;
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      text-transform: uppercase;
    }

    input {
      display: flex;
      padding: 16px;
      align-items: center;
      align-self: stretch;
      border-radius: 12px;
      border: 1px solid #E7E5E4;
     background: #FFF;
     color: #7B3306;
     font-size: 16px;

     &:-internal-autofill-selected {
      background: #FFF !important;
     }

     &::placeholder {
      color: #A6A09B;
     }

     &.success {
      border: 1px solid #7B3306;
      color: #7B3306 !important;
     }

     &.error {
        border: 1px solid #FF6467;

        & + span.error {
      display: flex;
      align-items: center;
      gap: 4px;
      color: #FB2C36;
      font-size: 12px;

          &:before {
            content:'';
            display: block;
            width: 12px;
            height: 12px;
            background: url(images/error-icon.svg) center no-repeat;
          }
        }
     }
    }

    
  }

  &__btn {
    margin-top: 20px;
    display: flex;
    padding: 16px 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 12px;
    background: #7B3306;
    box-shadow: 0 10px 15px -3px rgba(28, 25, 23, 0.10), 0 4px 6px -4px rgba(28, 25, 23, 0.10);
    border: none;
    color: #FFF;
    text-align: center; 
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s ease;
    width: 100%;

    &:disabled {
      background: #A6A09B;
      color: rgba(255, 255, 255, 0.38);
      cursor: default;
      pointer-events: none;
    } 

    &:hover {
      transform: scale(1.02);
    }
  }

  &__footer {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    gap: 12px;
    width: 100%; 
  }

  &__note {
    display: flex;
    padding: 6px 8px;
    align-items: stretch;
    gap: 16px;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 12px;
    background: #EBE5DE;
    color: rgba(68, 64, 59, 0.30);
  }

  &__note-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 1 0 0;

    b {
      color: #7B3306;
      font-weight: 700;
    }
  }
  .code {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;

    &__input {
      display: flex;
      width: 91px;
      height: 91px;
      padding: 16px;
      align-items: center;
      flex: 1 0 0;
      aspect-ratio: 1/1;
      border-radius: 12px;
      border: 1px solid #E7E5E4;
      background: #FFF;
      color: #7B3306;
      text-align: center;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      &.filled {
        border: 1px solid #7B3306;
      }
    }
  }

  &__arrow {
    display: flex;
    padding: 0 4px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    background: rgba(123, 51, 6, 0.04);
  }
}
 
.form__header--code,
.form__form--code,
.form__note--code {
  display: none;
}

.form.is-code .form__header--default,
.form.is-code .form__form--default,
.form.is-code .form__note--default {
  display: none;
}

.form.is-code .form__header--code,
.form.is-code .form__form--code,
.form.is-code .form__note--code {
  display: flex;
}

