.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 71, 119, 0.90);
    filter: blur(20px);
    z-index: 98;
}

.popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.popup {
    display: flex;
    width: 440px;
    max-width: 352px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 32px;
    background: #66C1FF;
    box-shadow: 0 25px 50px -12px rgba(28, 25, 23, 0.20);
}