.popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    background: rgba(0, 71, 119, 0.90);
    z-index: 98;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;

    &.visible {
        opacity: 1;
        visibility: visible;

        .popup {
             opacity: 1;
             visibility: visible;
             transform: scale(1);
        }
    }
}

.popup {
    display: flex;
    width: 90vw;
    max-width: 440px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 32px;
    background: #66C1FF;
    box-shadow: 0 25px 50px -12px rgba(28, 25, 23, 0.20);
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: all .3s ease .1s;

    &__image {
        border-radius: 12px;
        background: #002740;
        position: relative;
        width: 100%;
        height: 126px;

        img {
            position: absolute;
            bottom: 0;
            left: 20px;
            min-height: 146px;
            aspect-ratio: 358 / 181;
        }
    }

     &__content {
            display: flex;
            flex-direction: column;
            gap: 18px;
            padding: 16px;
        }

        &__title {
            color: #FFF;
            font-family: "IBM Plex Serif";
            font-size: 30px;
            font-style: normal;
            font-weight: 500;
            line-height: 36px;
            letter-spacing: -0.75px;
        }

        &__label {
            display: flex;
            padding: 12px 18px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            border-radius: 12px;
            background: #0098FF;
            color: #FFF;
            text-align: center;
            font-family: "IBM Plex Serif";
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        &__text {
            color: #FFF;
            font-family: "IBM Plex Sans";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; 
        }

        &__btn {
            border-radius: 12px;
            background: #FFF;
            box-shadow: 0 10px 15px -3px rgba(0, 152, 255, 0.63);
            color: #004777;
            text-align: center;
            font-family: "IBM Plex Sans";
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;
            width: 100%;
        }
    }