header {
    background: #F1F0EF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10), 0 1px 2px -1px rgba(0, 0, 0, 0.10);

    .header {
        display: flex;
        align-items: center;    
        justify-content: flex-start;
        gap: 20px;
        height: 64px;

        &__logo {
            color: #1C1917;
            font-family: "IBM Plex Serif";
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: -0.5px;
        }

        &__label {
            display: flex;
            padding: 8px 20px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            background: rgba(0, 153, 102, 0.10);
            color: #096;
            text-align: center;
            font-family: "IBM Plex Sans";
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;

            @media (max-width: 767px) {
                padding: 8px; 

                span {
                    display: none;
                }
            }
        }

        .lang-switcher {
            margin-left: auto;
            flex-direction: row;
        }
    }
}

.banner {
    height: calc(100vh - 64px);
    background: url(../images/banner-bg.webp) center no-repeat;
    background-size: cover;
    padding: 80px 0 0;
    position: relative;

    @media (max-width: 767px) {
        padding: 20px 0;
        min-height: 736px;
        background-position: left;
    }

    .swiper {
        height: 100%;
        position: relative;

        .swiper-wrapper {
            height: 100%;
        }

        .swiper-slide {
            height: 100%;
            display: flex;
            align-items: center;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0 !important;
            width: 100%;
            transition: opacity 0.3s ease;
            padding-bottom: 80px;

             @media (max-width: 767px) {
                padding-bottom: 20px;
             }
        }

        .swiper-slide-active {
            opacity: 1 !important;
        }

        .swiper-pagination {
            position: absolute;
            top: 80px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 10;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 8px;

            @media (max-width: 767px) {
                bottom: auto;
                top: 60vw;
                justify-content: center;
            }

            .swiper-pagination-bullet {
                width: 8px;
                height: 8px;                
                background: rgba(255, 255, 255, 0.40);
                border-radius: 50%;
                cursor: pointer;
                transition: all 0.3s ease;

                 
            

                &.swiper-pagination-bullet-active {
                    background: #fff;
                    width: 48px;
                    border-radius: 33554400px;
                }
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 16px;
        height: 100%;

         @media (max-width: 767px) {
            padding-top: 75vw;
            gap: 12px;

            img {
                width: 95px;
            }
         }
        

        * {
            z-index: 1;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__label {
        display: flex;
        padding: 8px 16px;
        align-items: center;
        align-self: stretch;
        border-radius: 33554400px;
        background: rgba(255, 255, 255, 0.10);
        color: #0098FF;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 1.2px;
        text-transform: uppercase;
    }

    &__title {
        font-family: "IBM Plex Sans";
        font-size: 72px;
        font-style: italic;
        font-weight: 700;
        line-height: 1.3; 
        text-transform: uppercase;
        background: linear-gradient(90deg, #FFF 0%, #4CA1FF 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        max-width: 500px;
            @media (max-width: 767px) {
                    font-size: 38px;
            }
    }

    &__text {
        color: #FFF;
        font-family: "IBM Plex Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: 500px;

         @media (max-width: 767px) { 
            font-size: 16px;
        }
    }

    &__controls {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;
    }

    &__btn {
        display: flex;
        padding: 20px 80px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        align-self: stretch;
        width: 420px;
        color: #FFF;
        text-align: center;
        font-family: Arial;
        font-size: 18px;
        font-style: normal;
        font-weight: 900;
        line-height: 28px;
        letter-spacing: 0.45px;
        text-transform: uppercase;
        transition: all 0.3s ease;

         @media (max-width: 767px) { 
            width: 100%;
         }

        &:hover {
            transform: scale(1.02);
        }

        &--1 {
            background: linear-gradient(90deg, #66C1FF 0%, #0098FF 100%);
            box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
        }

        &--2 {
            border: 2px solid rgba(255, 255, 255, 0.10);
            background: rgba(255, 255, 255, 0.10);
        }
    }

    &__infographics {
        display: flex;
        gap: 16px;
        width: 100%;

         @media (max-width: 767px) {
            display: none;
         }

        &-item {
            display: flex;
            padding: 8px;
            gap: 12px;
            justify-content: flex-start;
            align-items: center;
            flex: 1 0 0;
            background: rgba(255, 255, 255, 0.03);
            color: #0098FF;
            font-family: "IBM Plex Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        &-icon {
            display: flex;
            width: 100px;
            padding: 0 24px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 42px;
            background: rgba(255, 255, 255, 0.10);
        }
    }

    &__image {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;
        max-width: 70vw;
        min-width: 60vw;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

         @media (max-width: 767px) {
            max-width: 100vw;
            min-width: 100vw;
            top: 0;
            bottom: auto;
         }

        img {
            max-height: 80vh;
        }
    }
}

.cafe {
    background: #F1F0EF;
    padding: 80px 0 0;

    @media (max-width: 767px) {
        padding: 20px 0 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 48px;
        margin-bottom: 80px;

        @media (max-width: 767px) {
            gap: 20px;
            margin-bottom: 20px;
        }
    }

    &__banner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        padding: 60px;
        background: url(images/cafe-banner.webp) left center no-repeat;
        background-size: cover;

         @media (max-width: 767px) {
             padding: 20px;
             gap: 30px;
         }

        &-title {
            color: #FFF;
            font-family: "IBM Plex Serif";
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.3;
            max-width: 620px;

            @media (max-width: 767px) {
                font-size: 24px;
            }
        }

        &-text {
            color: #E7E5E4;
            font-family: "IBM Plex Sans";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.6;

             @media (max-width: 767px) {
                font-size: 16px;
            }
        }

        &-btn {
            border-radius: 33554400px;
            background: #CA3500;
            box-shadow: 0 10px 15px -3px rgba(126, 42, 12, 0.30), 0 4px 6px -4px rgba(126, 42, 12, 0.30);
            color: #FFF;

            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 32px;
        align-self: stretch;

        @media (max-width: 767px) {
            flex-direction: column;
            gap: 8px;
            align-items: flex-start;
        }

        h2 {
            color: #292524;
            font-family: "IBM Plex Serif";
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.3;
             @media (max-width: 767px) {
                font-size: 24px;
             }
        }

        span {
            color: #79716B;
            font-family: "IBM Plex Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 8px;
        grid-row-gap: 8px;

         @media (max-width: 767px) {
             grid-template-columns: repeat(2, 1fr);
             grid-template-rows: repeat(4, 1fr);
         }
    }

    &__item {
        &--1 {
           grid-area: 1 / 1 / 3 / 3; 
        }
        &--2 {
            grid-area: 1 / 3 / 2 / 4;

             @media (max-width: 767px) {
                grid-area: 3 / 1 / 4 / 2;
         }
        }
        &--3 {
            grid-area: 1 / 4 / 2 / 4;
             @media (max-width: 767px) {
                grid-area: 3 / 2 / 4 / 3;
         }
        }
        &--4 {
            grid-area: 2 / 3 / 3 / 3;
             @media (max-width: 767px) {
                grid-area: 4 / 1 / 5 / 2
         }
        }
        &--5 {
            grid-area: 2 / 4 / 3 / 4;
             @media (max-width: 767px) {
                grid-area: 4 / 2 / 5 / 3;
         }
        }
    }
}

footer {
    background: #1C1917;
    padding: 48px 24px;

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;

        &__logo {
            color: #FFF;
            text-align: center;
            font-family: "IBM Plex Serif";
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
        }
        &__text {
            color: #79716B;
            text-align: center;
            font-family: "IBM Plex Sans";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }
    }
}

.banner__logo,
.banner__title,
.banner__text,
.banner__controls,
.banner__infographics {
    opacity: 0;
}

/* logo + title — выезд слева */
.banner__logo,
.banner__text,
.banner__title {
    transform: translateX(-60px);
}

/* btn + infographics — снизу */
.banner__controls,
.banner__infographics {
    transform: translateY(60px);
}

.swiper-slide.swiper-slide-active .banner__logo {
    opacity: 1;
    transform: translateX(0);
    transition: 0.6s ease;
}

.swiper-slide.swiper-slide-active .banner__title {
    opacity: 1;
    transform: translateX(0);
    transition: 0.6s ease 0.15s;
}

.swiper-slide.swiper-slide-active .banner__text {
    opacity: 1;
    transform: translateX(0);
    transition: 0.6s ease;
}

/* кнопки */
.swiper-slide.swiper-slide-active .banner__controls {
    opacity: 1;
    transform: translateY(0);
    transition: 0.6s ease 0.3s;
}

/* инфографика */
.swiper-slide.swiper-slide-active .banner__infographics {
    opacity: 1;
    transform: translateY(0);
    transition: 0.6s ease 0.45s;
}


html[dir="rtl"] {
    header .header .lang-switcher {
        margin-left: 0;
        margin-right: auto;
    }
    .banner {
        background: url(images/banner-bg-rtl.webp) right center no-repeat;
        background-size: cover;

    }
    .banner__image {
        right: auto;
        left: 0;
    }

}