header {
    background: #F1F0EF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10), 0 1px 2px -1px rgba(0, 0, 0, 0.10);

    .header {
        display: flex;
        align-items: center;    
        justify-content: flex-start;
        gap: 20px;
        height: 64px;

        &__logo {
            color: #1C1917;
            font-family: "IBM Plex Serif";
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: -0.5px;
        }

        &__label {
            display: flex;
            padding: 8px 20px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            background: rgba(0, 153, 102, 0.10);
            color: #096;
            text-align: center;
            font-family: "IBM Plex Sans";
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
        }

        .lang-switcher {
            margin-left: auto;
            flex-direction: row;
        }
    }
}

.banner {
    height: calc(100vh - 64px);
    background: url(../images/banner-bg.webp) center no-repeat;
    background-size: cover;
    padding: 80px 0;
    position: relative;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 16px;
        height: 100%;
        

        * {
            z-index: 1;
        }
    }

    &__logo {
        display: flex;
        gap: 20px;
    }

    &__label {
        display: flex;
        padding: 4px 16px;
        align-items: center;
        align-self: stretch;
        border-radius: 33554400px;
        background: rgba(255, 255, 255, 0.10);
        color: #0098FF;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 1.2px;
        text-transform: uppercase;
    }

    &__title {
        font-family: "IBM Plex Sans";
        font-size: 72px;
        font-style: italic;
        font-weight: 700;
        line-height: 90px; 
        text-transform: uppercase;
        background: linear-gradient(90deg, #FFF 0%, #4CA1FF 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        max-width: 500px;
    }

    &__text {
        color: #FFF;
        font-family: "IBM Plex Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: 500px;
    }

    &__controls {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__btn {
        display: flex;
        padding: 20px 80px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        align-self: stretch;
        width: 420px;
        color: #FFF;
        text-align: center;
        font-family: Arial;
        font-size: 18px;
        font-style: normal;
        font-weight: 900;
        line-height: 28px;
        letter-spacing: 0.45px;
        text-transform: uppercase;
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.02);
        }

        &--1 {
            background: linear-gradient(90deg, #66C1FF 0%, #0098FF 100%);
            box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
        }

        &--2 {
            border: 2px solid rgba(255, 255, 255, 0.10);
            background: rgba(255, 255, 255, 0.10);
        }
    }

    &__infographics {
        display: flex;
        gap: 16px;
        width: 100%;

        &-item {
            display: flex;
            padding: 8px;
            gap: 12px;
            justify-content: flex-start;
            align-items: center;
            flex: 1 0 0;
            background: rgba(255, 255, 255, 0.03);
            color: #0098FF;
            font-family: "IBM Plex Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        &-icon {
            display: flex;
            width: 100px;
            padding: 0 24px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 42px;
            background: rgba(255, 255, 255, 0.10);
        }
    }

    &__image {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;
        max-width: 70vw;
    }
}

.cafe {
    background: #F1F0EF;
    padding: 80px 0 0;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 48px;
        margin-bottom: 80px;
    }

    &__banner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        padding: 60px;
        background: url(images/cafe-banner.webp) left center no-repeat;
        background-size: cover;

        &-title {
            color: #FFF;
            font-family: "IBM Plex Serif";
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 45px;
            max-width: 620px;
        }

        &-text {
            color: #E7E5E4;
            font-family: "IBM Plex Sans";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
        }

        &-btn {
            border-radius: 33554400px;
            background: #CA3500;
            box-shadow: 0 10px 15px -3px rgba(126, 42, 12, 0.30), 0 4px 6px -4px rgba(126, 42, 12, 0.30);
            color: #FFF;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 32px;
        align-self: stretch;

        h2 {
            color: #292524;
            font-family: "IBM Plex Serif";
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 45px;
        }

        span {
            color: #79716B;
            font-family: "IBM Plex Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 8px;
        grid-row-gap: 8px;
    }

    &__item {
        &--1 {
           grid-area: 1 / 1 / 4 / 4; 
        }
        &--2 {
            grid-area: 1 / 3 / 2 / 4;
        }
        &--3 {
            grid-area: 1 / 4 / 2 / 4;
        }
        &--4 {
            grid-area: 2 / 3 / 3 / 3;
        }
        &--5 {
            grid-area: 2 / 4 / 3 / 4;
        }
    }
}

footer {
    background: #1C1917;
    padding: 48px 24px;

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;

        &__logo {
            color: #FFF;
            text-align: center;
            font-family: "IBM Plex Serif";
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
        }
        &__text {
            color: #79716B;
            text-align: center;
            font-family: "IBM Plex Sans";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }
    }
}